/*CSS reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: skyblue;
	background-image: url("../images/bg.jpg");
	background-image: linear-gradient(rgba(51,51,51,0.5), rgba(51,51,51,0.35)),url("../images/bg.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;

}
/*targets the class container*/
.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;



}
/*end container*/

/* targets the html element h1*/
h1 {
	color: black; /*this changes the font color of the h1 elements*/
	background-color: rgba(255,255,255, 0.5); /*off black*/
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 10px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 15px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
}
/*end of h1 styling*/
/*start of h2 styling*/
h2 {
	color: black;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: rgba(255,255,255, 0.5);
	margin-bottom: 15px;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	border-width: 2px;
	border-color: black;
	border-style: solid;
}
/*end of h2 styling*/

/*targets the html elements with the class attribute bio*/
.bio {
	font-size: 18px;
	line-height: 22px;
	background-color: rgba(51,51,51, 0.8);
	padding: 10px;
	border-radius: 10px;
	letter-spacing: 1px;
	font-family: 'Roboto Mono', monospace;
	color: white;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}


/*end of bio*/

/*targets the html attribute id with a value me*/
#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 3px;
	border-color: black;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}
/*end of me*/